<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>admin@ownmail.com</h4>
        </div>
        <img src="" alt="">
    </div>

    <mat-divider></mat-divider>  
        
    <h2 matSubheader>Devices Link</h2>
        
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon class="mat-18">dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-devices">
        <mat-icon class="mat-18">devices</mat-icon>
        Devices
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-devicelocation">
        <mat-icon class="mat-18">location_on</mat-icon>
        Location
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-ptoda">
        <mat-icon class="mat-18">add_box</mat-icon>
        P2 DA
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-devicesession">
        <mat-icon class="mat-18">devices_other</mat-icon>
        Device Session
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-devicemanager">
        <mat-icon class="mat-18">library_add</mat-icon>
        Device Manager
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-devicedriver">
        <mat-icon class="mat-18">dvr</mat-icon>
        Device Driver
    </a>

    <mat-divider></mat-divider>
    <h2 matSubheader>Analytics</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-mortalityanalysis">
        <mat-icon class="mat-18">analytics</mat-icon>
        Mortality Analysis
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-batchprediction">
        <mat-icon class="mat-18">batch_prediction</mat-icon>
        Batch Prediction
    </a>
    <br>
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-contacts">
        <mat-icon class="mat-18">import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/app-leads">
        <mat-icon class="mat-18">contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>

