<div>
    <button mat-button (click)="deleteDevice()">
        <mat-icon class="mat-18">delete</mat-icon>
        <span class="btn-action">Delete</span>
    </button>
    <button mat-button (click)="startDevice()">
        <mat-icon class="mat-18">not_started</mat-icon>
        <span class="btn-action">Start Device</span>
    </button>
    <button mat-button (click)="stopDevice()">
        <mat-icon class="mat-18">stop</mat-icon>
        <span class="btn-action">Stop Device</span>
    </button>
</div>
<br>