<mat-toolbar>
    <mat-toolbar-row>
        <mat-icon class="mat-36">healing</mat-icon>

        <span class="company-name">Healthcare Industries Limited</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                        <button mat-flat-button [matMenuTriggerFor]="menu" class="header-btn">
                            <mat-icon class="mat-18">person_outline</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openProfile()">
                                <mat-icon class="mat-18">account_circle</mat-icon>
                                Profile
                            </button>
                            <button mat-menu-item (click)="openSettings()">
                                <mat-icon class="mat-18">settings</mat-icon>
                                Settings
                            </button>
                            <button mat-menu-item (click)="openAbout()">
                                <mat-icon class="mat-18">info</mat-icon>
                                About
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon class="mat-18">exit_to_app</mat-icon>
                                Sign Out
                            </button>
                          
                        </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
