mat-toolbar-row {
    background-color: rgb(109, 108, 108);
}

ul li {
    list-style: none;
}

.header-btn {
    width: 3em;
    background: none;
}

mat-menu{
    background: #535353;
    background-color: #3b3b3b;
}