<div>
    <button mat-flat-button (click)="addManager()">
        <mat-icon class="mat-18">save</mat-icon>
        <span class="btn-action">Add</span>
    </button>
    <button mat-flat-button (click)="cancel()">
        <mat-icon class="mat-18">cancel</mat-icon>
        <span class="btn-action">Cancel</span>
    </button>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <mat-card-content>
        <form>
                        <mat-form-field>
                                <mat-label>Device Manager Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput ></textarea>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>IP Address</mat-label>
                                <input matInput >
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Port Number</mat-label>
                                <input matInput >
                            </mat-form-field>
        </form>
    </mat-card-content>
</div>