<div>
        <button mat-button flex >
            <mat-icon class="mat-18">add</mat-icon>
            <span class="devicebtn">Add Device</span>
        </button>
        <button mat-button>
            <mat-icon class="mat-18">delete</mat-icon>
            Delete
        </button>
        <button mat-button>
            <mat-icon class="mat-18">loop</mat-icon>
            Refresh
        </button>
        <button mat-button>
            <mat-icon class="mat-18">not_started</mat-icon>
            Start Devices
        </button>
        <button mat-button>
            <mat-icon class="mat-18">stop</mat-icon>
            Stop Devices
        </button>
</div>
<br>

<div>
    <ag-grid-angular
        style="width: 100%; height: 470px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        >
    </ag-grid-angular>
</div>

