<div>
        <button mat-button flex (click)="addDevice()">
            <mat-icon class="mat-18">add</mat-icon>
            <span class="btn-action">Add Device</span>
        </button>
        <button mat-button (click)="deleteDevices()">
            <mat-icon class="mat-18">delete</mat-icon>
            <span class="btn-action">Delete</span>
        </button>
        <button mat-button (click)="refreshDevices()">
            <mat-icon class="mat-18">loop</mat-icon>
            <span class="btn-action">Refresh</span>
        </button>
        <button mat-button (click)="startDevices()">
            <mat-icon class="mat-18">not_started</mat-icon>
            <span class="btn-action">Start Devices</span>
        </button>
        <button mat-button (click)="stopDevices()">
            <mat-icon class="mat-18">stop</mat-icon>
            <span class="btn-action">Stop Devices</span>
        </button>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <ag-grid-angular
        style="width: 100%; height: 470px;"
        class="ag-theme-alpine"
        (gridready)="onGridReady($event)"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        (rowSelected)="onRowSelected($event)"
        (selectionChanged)="onSelectionChanged($event)"
        >
    </ag-grid-angular>
</div>

