<div>
    <button mat-flat-button (click)="updatePatient()">
        <mat-icon class="mat-18">save</mat-icon>
        <span class="btn-action">Update</span>
    </button>
    <button mat-flat-button (click)="deletePatient()">
        <mat-icon class="mat-18">delete</mat-icon>
        <span class="btn-action">Delete Patient</span>
    </button>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
                <form>
                    <mat-form-field>
                        <mat-label>Patient Name</mat-label>
                        <input matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Issuer</mat-label>
                        <input matInput >
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Date of Birth</mat-label>
                        <input matInput >
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select >
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput ></textarea>
                    </mat-form-field>
                    <br>        
                </form>    
</div>