<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="stats-cards" >
        <mat-card fxFlex="25">
            <app-widget-card label="Devices" total="250" percentage="30"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-widget-bar></app-widget-bar>
        </mat-card>
        <mat-card fxFlex="25">
                <app-widget-bar></app-widget-bar>
        </mat-card>
        <mat-card fxFlex="25">
            <app-wizard-pie></app-wizard-pie>
        </mat-card>
    
</div>
<br>
<div>
    <app-widget-area></app-widget-area>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-card fxFlex="33">
                <app-widget-bar></app-widget-bar>
            </mat-card>
            <mat-card fxFlex="33">
                    <app-widget-bar></app-widget-bar>
            </mat-card>
            <mat-card fxFlex="33">
                <app-wizard-pie></app-wizard-pie>
            </mat-card>
</div>