<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards" >
        <mat-card fxFlex="25">
            <app-widget-card label="Devices" total="250" percentage="30"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-widget-bar></app-widget-bar>
        </mat-card>
        <mat-card fxFlex="25">
            <app-widget-gauge></app-widget-gauge>
        </mat-card>
        <mat-card fxFlex="25">
            <app-wizard-pie></app-wizard-pie>
        </mat-card>
    
</div>
<br>
<div>
    <app-widget-area></app-widget-area>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">Table</div>
    <div fxFlex="40">Pie Chart</div>
</div>