<h2 mat-dialog-title>User Profile</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label> <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Details</mat-label> <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update</button>
</mat-dialog-actions>