<div>
    <button mat-flat-button (click)="editDeviceDriver()">
        <mat-icon class="mat-18">save</mat-icon>
        <span class="btn-action">Save</span>
    </button>
    <button mat-flat-button (click)="deleteDeviceDriver()">
        <mat-icon class="mat-18">delete</mat-icon>
        <span class="btn-action">Delete</span>
    </button>
    <button mat-flat-button (click)="cancel()">
        <mat-icon class="mat-18">cancel</mat-icon>
        <span class="btn-action">Cancel</span>
    </button>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
        <mat-card-content>
                <form>
                        <mat-form-field>
                                <mat-label>Device Driver Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput ></textarea>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Dll File Name</mat-label>
                                <input matInput >
                            </mat-form-field>
                            
                            <mat-form-field>
                                <mat-label>Driver Version</mat-label>
                                <input matInput >
                            </mat-form-field>
                            <br>
                            
                </form>
            </mat-card-content>
    
</div>